/*==========================================*/

body {
    margin: 0 !important;
    background-color: #f5f5f5;
    padding-bottom: 48px;
    min-height: 95vh;
    position: relative;
}

html {
    scroll-behavior: smooth;
}


/*==========================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #464646;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    transition: 0.3s;
}

.sidenav .login {
    font-size: 15px;
}

.sidenav a:hover {
    color: #c9c9c9;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu {
    text-align: right;
    margin: 2%;
}


/*==========================================*/

body {
    background-color: #f5f5f5;
}

header {
    height: fit-content;
}

header .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin: 1% 1%;
    color: #36a9e1;
}

header .top-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e7e7e7;
    border-bottom: 1px solid #a8a8a881;
}


/*==========================================*/

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 90%;
    margin: 5% auto;
}

.container .cont-tot-info {
    background-color: #fff;
    padding: 3%;
    height: 20rem;
}

.container .cont-review {
    padding: 0 5%;
}

.review:nth-child(odd) {
    background: #fff;
    border-top: 1px solid #a8a8a881;
    border-bottom: 1px solid #a8a8a881;
}

.review {
    padding-left: 2%;
    padding-right: 2%;
    font-family: Trebuchet MS, sans-serif;
}

.review .review-grid {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 100%;
}

.review .review-grid .review-trash {
    float: right;
}

.review .review-grid .review-trash a {
    text-decoration: none;
    color: rgb(187, 0, 0);
}

.review h3 {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

.review p {
    font-size: 1rem;
    color: #7c7c7ca1;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    text-align: justify;
}

.inline-title-star .star-tot-p h3 {
    color: #000;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding-left: 5%;
}

.inline-title-star .display-star {
    color: #000;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding-left: 5%;
}

.inline-title-star .tot-review p {
    color: #7c7c7ca1;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    padding-left: 5%;
}


/*==========================================*/

.progressbar-cont {
    margin: auto 5%;
    border: none;
    background-color: #d1d1d1c0;
    border-radius: 0.3em;
    width: 95%;
    height: 1.5rem;
}

.progressbar-cont .progressbar {
    border: none;
    background-color: #36a9e1;
    border-radius: 0.3em;
    height: inherit;
}

.progress-bar-star .progressbar-text {
    margin: auto 30%;
    color: #000;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.progress-bar-star {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
}

.nbr-label {
    margin-left: 20%;
    color: #000;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Trebuchet MS', sans-serif;
}


/*==========================================*/

footer {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    color: rgb(85, 85, 85);
}

footer p {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}


/*==========================================*/

@media only screen and (max-width: 391px) {
    header .title {
        font-size: 2rem;
        margin: 3% 3%;
    }
}

@media only screen and (max-width:1605px) {
    .container {
        display: block;
    }
    .cont-tot-info {
        margin: 5% 5%;
        height: 25%;
    }
}